@import "tailwindcss";

@theme {
  --font-sans: Inter, system-ui, sans-serif;
  --color-primary: #1e40af;
  --color-primary-light: #3b82f6;
  --color-primary-subtle: #eff6ff;
  --color-accent: #0f766e;
  --color-accent-light: #ccfbf1;
}
